$width-main: 1280px

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
@-webkit-keyframes vibrate-1 
  0% 
    -webkit-transform: translate(0)
            transform: translate(0)
  
  20% 
    -webkit-transform: translate(-2px, 2px)
            transform: translate(-2px, 2px)
  
  40% 
    -webkit-transform: translate(-2px, -2px)
            transform: translate(-2px, -2px)
  
  60% 
    -webkit-transform: translate(2px, 2px)
            transform: translate(2px, 2px)
  
  80% 
    -webkit-transform: translate(2px, -2px)
            transform: translate(2px, -2px)
  
  100% 
    -webkit-transform: translate(0)
            transform: translate(0)
  

@keyframes vibrate-1 
  0% 
    -webkit-transform: translate(0)
            transform: translate(0)
  
  20% 
    -webkit-transform: translate(-2px, 2px)
            transform: translate(-2px, 2px)
  
  40% 
    -webkit-transform: translate(-2px, -2px)
            transform: translate(-2px, -2px)
  
  60% 
    -webkit-transform: translate(2px, 2px)
            transform: translate(2px, 2px)
  
  80% 
    -webkit-transform: translate(2px, -2px)
            transform: translate(2px, -2px)
  
  100% 
    -webkit-transform: translate(0)
            transform: translate(0)
  



body
    width: $width-main
    margin: 0 auto

header
    width: $width-main
    margin: 0 auto
    position: relative

.bd-example
    position: relative
    width: $width-main
    margin: 0 auto
    display: flex
    background-color: #000


.slogan
    text-align: center
    display: flex
    align-items: center
    flex-direction: column
    justify-content: centr
    color: #fff
    width: 450px
    height: 300px
    position: absolute
    z-index: 3
    top: 45%
    left: 35%
    button
        margin-top: 15px
        width: 50%
        border-radius: 7.5px
        font-family: 'Montserrat Alternates', sans-serif
        font-weight: 400
        background-color: #998675
        border: 1px solid #000
    h3
        font-family: 'Montserrat Alternates', sans-serif
        font-weight: 400
    h1
        font-family: 'Montserrat Alternates', sans-serif
        font-weight: 700
    p
        font-family: 'Montserrat Alternates', sans-serif
        font-weight: 400
    button:hover
        transform: scale(1.1)
        transition: all 1s
        opacity: 0.8
    
.background
    position: absolute
    z-index: 2
    width: $width-main
    height: 100%
    background-color: #000
    opacity: 0.4

nav
    font-size: 14px
    font-family: 'Montserrat Alternates', sans-serif
    z-index: 3
    font-size:  12px
    position: absolute
    top: 35px
    right: 150px
    display: flex
    align-items: center
    justify-content: center
    .menuitems
        margin-right: 15px
    a
        text-decoration: none
        color: #ffffff
    a:hover
        transition: color 1s
        text-decoration: none
        color: #c7b299
    .logo
        margin-right: 150px

.carousel-control-next
    z-index: 3
    position: absolute
    top: 50%
    height: 100px
    
.carousel-control-prev
    z-index: 3
    position: absolute
    top: 50%
    height: 100px

.servicesbox
    display: flex
    flex-direction: row
    justify-content: center
    a
        text-decoration: none

        .services-item        
            flex-direction: column
            margin: 50px 20px
            width: 270px
            justify-content: center
            align-items: center
            text-align: center
            color: #555555


            h3
            font-family: 'Montserrat Alternates', sans-serif
            font-weight: 400

            p
            font-family: 'Montserrat Alternates', sans-serif
            font-weight: 400

            .logoservices
                color: #555555

            .bottomline
                display: flex
                height: 20px
                justify-content: center
                
                .line
                    display: flex
                    height: 20px                
                    width: 70px
                    border-bottom: 3px solid #555555
            
        .services-item:hover .line
            transition: color 1s
            color: #c7b299
            border-bottom: 3px solid #c7b299
        .services-item:hover            
	        animation: vibrate-1 0.3s linear 2 both
            transition: color 1s
            color: #c7b299

.realization
    display: flex
    width: $width-main
    height: 700px
    background-color: #fbfaf8
    flex-direction: column
    justify-content: space-between
    align-items: center
    .headline
        margin-top: 80px
        width: 500px 
        display: flex
        flex-direction: column
        align-self: center
        text-align: center
        h1
            font-family: 'Montserrat Alternates', sans-serif
            font-weight: 700
            font-size: 22px


    .screenshot
        display: flex
        align-self: center

.middleline
    background: linear-gradient(to right, #211b19, #4e3427)
    display: flex
    height: 150px
    justify-content: center
    align-items: center

    .textbutton
        display: flex
        width: 900px
        justify-content: space-between
        align-items: center
        .middletext
            display: flex
            flex-direction: column
            color: #b9b5b4
            h3
                font-size: 22px
            h3 b
                color: #93816f
                font-weight: 400

        button
            padding-left: 40px
            display: flex
            background-color: #998675
            border: 1px solid #000
            border-radius: 7.5px
            color: #b9b5b4
            width: 150px
            height: 50px
            text-align: center
            font-family: 'Montserrat Alternates', sans-serif
            font-weight: 500
        button:hover
            transform: scale(1.1)
            transition: all 1s
            opacity: 0.8

.pictureboxtop
    display: flex
    width: $width-main
    .pictureitem
        width: 100%
        display: flex
        margin: 50px 

        figurecaption
            display: flex
            height: 150px
            border: 1px solid #000

.pictureboxbottom
    display: flex
    width: $width-main
    justify-content: center
    align-items: center
    .pictureitem
        width: 100%
        display: flex
        margin: 50px 

        figurecaption
            display: flex
            height: 150px
            border: 1px solid #000



.vidocontent
    display: flex
    width: $width-main





    
