body {
  width: 1280px;
  margin: 0 auto;
}

header {
  width: 1280px;
  margin: 0 auto;
  position: relative;
}

.bd-example {
  position: relative;
  width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}

.slogan {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: centr;
      -ms-flex-pack: centr;
          justify-content: centr;
  color: #fff;
  width: 450px;
  height: 300px;
  position: absolute;
  z-index: 3;
  top: 45%;
  left: 35%;
}

.slogan button {
  margin-top: 15px;
  width: 50%;
  border-radius: 7.5px;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  background-color: #998675;
  border: 1px solid #000;
}

.slogan h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

.slogan h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
}

.slogan p {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

.slogan button:hover {
  background-color: #fff;
}

.background {
  position: absolute;
  z-index: 2;
  width: 1280px;
  height: 100%;
  background-color: #000;
  opacity: 0.4;
}

nav {
  font-size: 14px;
  font-family: 'Montserrat Alternates', sans-serif;
  z-index: 3;
  font-size: 12px;
  position: absolute;
  top: 35px;
  right: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .menuitems {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  text-decoration: none;
  color: #c7b299;
}

nav .logo {
  margin-right: 150px;
}

.carousel-control-next {
  z-index: 3;
  position: absolute;
  top: 50%;
  height: 100px;
}

.carousel-control-prev {
  z-index: 3;
  position: absolute;
  top: 50%;
  height: 100px;
}

.servicesbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicesbox a {
  text-decoration: none;
}

.servicesbox a .services-item {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 50px 20px;
  width: 270px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #555555;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 400;
}

.servicesbox a .services-item .logoservices {
  color: #555555;
}

.servicesbox a .services-item .bottomline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servicesbox a .services-item .bottomline .line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20px;
  width: 70px;
  border-bottom: 3px solid #555555;
}

.servicesbox a .services-item:hover .line {
  color: #c7b299;
  border-bottom: 3px solid #c7b299;
}

.servicesbox a .services-item:hover {
  color: #c7b299;
}

.realization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1280px;
  height: 700px;
  background-color: #fbfaf8;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.realization .headline {
  margin-top: 80px;
  width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}

.realization .headline h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.realization .screenshot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}
/*# sourceMappingURL=style.css.map */