body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.header {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    background-color: #445162;
    padding-bottom: 50px;
}

.name {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.name h1 {
    font-size: 35px;
    font-family: "Arial";
    color: #fff;
    text-shadow: 0px 5px 0px #000;
}

.name ul {
    list-style-image: url(img/tick.png);
    font-size: 20px;
    line-height: 36px;
    color: #fff;
    font-family: "Arial";
}

.logo {
    align-self: center;
    margin-right: 50px;
    width: 469px;
    height: 214px;
    background-color: #fff;
}

.about {
    width: 1280px;
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.abouttext h2 {
    margin-left: 50px;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    font-family: "Arial";
}

.abouttext p {
    margin-left: 50px;
    width: 665px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-family: "Arial";
}

.video {
    margin-right: 50px;
    width: 430px;
    height: 245px;
    background-color: #445162;
    font-size: 35px;
    color: #fff;
    text-align: center;    
}

.videotext {
    margin-top: 100px;
}

.pluses {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1280px;
    background-color: #f5f5f5;
}

.headline {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #445161;
    font-family: "Arial";
}

.listcolumn {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

.rightcolumn {
    width: 50%;
    padding-right: 15px;
}

.leftcolumn {
    width: 50%;
    padding-left: 15px;
}

.listcolumn ul, li{    
    padding: 0;
}

.listcolumn li {
    background: url(img/plus.png) left 5px no-repeat;
    list-style: none;
    line-height: 25px;
    margin-bottom: 15px;
    padding-left: 40px;
}

.screenshots {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1280px;
}

.mainblock {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

.rightblock {    
    width: 50%;
    padding-right: 15px;
}

.leftblock {
    width: 50%;
    padding-left: 15px;
}

.childblock1 {
    display: flex;
    padding-right: 15px;
    padding-bottom: 15px;
}

.childblock2 {
    display: flex;
    padding-right: 15px;
    padding-bottom: 15px;
}

.textblock {
    padding-left: 15px;
    display: flex;
    align-items: flex-start;
    font-size: 16px;
    line-height: 18px;
    color: #333333;
    font-family: "Arial";
    
}

.textblock p {
    padding-top: 0;
}

.textblockreview p i {
    font-size: 14px;
    line-height: 18px;
    color: #989898;
    font-family: "Arial";
}

.reviews {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1280px;
    background-color: #f5f5f5;
}

.textblockreview {
    background-image: url(img/bgreview.png);
    background-repeat: no-repeat;
    margin-left: 15px;
    padding-left: 25px;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    font-family: "Arial";
}

.buy {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.setbuy {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;    
}

.setconteiner {
    width: 300px;
    background-color: #445161;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    border: 2px solid #445161;
    
}

.setname {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Arial";
    padding: 10px;
}

.price {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 40px;
    line-height: 30px;
    color: #445162;
    font-family: "Arial";
    background-color: #fff;
    padding: 10px;
}

.description {
    display: flex;
    align-content: center;
    justify-content:flex-start;
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Arial";
}

.button {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 10px;
}

.push {
    background-color: #fff;
    height: 35px;
    line-height: 35px;
    width: 250px;
    text-align: center;
    border-radius: 7px;
    color: #445162;
    text-decoration: none;
    font-size: 18px;
    font-family: "Arial";
    font-weight: bold;
}

.push:hover {
    background-color: #f1f1f1;
}

.push:active {
    background-color: #e1e1e1;
}

.contact {
    width: 1280px;
    height: 509px;
    display: flex;
    background-color: #445162;
}

.footer {
    height: 35px;
    width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext {
    display: flex;
    align-items: center
}
